<div class="card" style="margin-top: 20%">

    <h1 class="card-title mt-4 ml-4" style="

      text-align: center;

      color: #3748e7;

      font-weight: bold;

      letter-spacing: 2px;

      font-family: Roboto;

    ">

        Liste des Parkings

    </h1>

    <div class="card-body">

        <table class="table">

            <thead>

                <tr>

                    <th scope="col">Id</th>

                    <th scope="col">Total de places</th>

                    <th scope="col">Nom Proprietaire</th>

                    <th scope="col">Nom Parking</th>

                    <th scope="col">Commune</th>
                    <th scope="col">Actions</th>

                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let parking of parks">

                    <th scope="row">{{ parking.id }}</th>

                    <td>{{ parking.totalPlace}}</td>

                    <td>{{ parking.nomProprietaire }}</td>

                    <td>{{ parking.nomParking }}</td>
                    <td>{{ parking.commune.nom }}</td>

                    <td colspan="3" style="display: flex">

                        &nbsp;

                        <button class="btn btn-danger" (click) = deleteParking(parking.id) > <!--on doit mettre un click -->

                        <i class="fa-solid fa-trash"></i></button

                        >&nbsp;

                        <span class="btn btn-info text-dark" (click) = updateParking(parking.id)

                        ><i class="fa-solid fa-pen-to-square"></i></span

                        >&nbsp;



                        <!-- <span class="btn btn-warning text-dark">

                        <a href="#" (click)="modifUtilisateurs(list.id)"></a

                        ><i class="fa-solid fa-eye"></i

                        ></span> -->



                        <button class="btn btn-warning">

                        <i class="fa-solid fa-eye"></i>

                        </button>

                    </td>

                </tr>

            </tbody>

        </table>

    </div>

</div>
