<div class="card" style="margin-top: 20%">

    <h1 class="card-title mt-4 ml-4" style="

      text-align: center;

      color: #3748e7;

      font-weight: bold;

      letter-spacing: 2px;

      font-family: Roboto;

    ">

        Liste des Informations

    </h1>

    <div class="card-body">

        <table class="table">

            <thead>

                <tr>

                    <th scope="col">Id</th>

                    <th scope="col">Titre</th>

                    <th scope="col">Description</th>

                    <th scope="col">Images</th>


                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let info of infos">

                    <td> {{ info.id }} </td>
                    <td> {{ info.titre }} </td>
                    <td> {{ info.description }} </td>
                    <td> {{ info.images }} </td>

                    <td colspan="3" style="display: flex">

                        &nbsp;

                        <button class="btn btn-danger" >

                        <i class="fa-solid fa-trash"></i></button

                        >&nbsp;

                        <span class="btn btn-info text-dark"

                        ><i class="fa-solid fa-pen-to-square"></i></span

                        >&nbsp;



                        <!-- <span class="btn btn-warning text-dark">

                        <a href="#" (click)="modifUtilisateurs(list.id)"></a

                        ><i class="fa-solid fa-eye"></i

                        ></span> -->



                        <button class="btn btn-warning">

                        <i class="fa-solid fa-eye"></i>

                        </button>

                    </td>

                </tr>

            </tbody>

        </table>

    </div>

</div>