<div class="card" style="margin-top: 20%; margin: 20%; width: 50%; height: 50%">

    <h5 class="card-header" style="text-align: center">Ajouter un Projet</h5>

    <div class="card-body">

        <form (ngSubmit)="onSubmit()" class="row g-3 needs-validation" novalidate>

            <div class="col-md-12">

                <label for="total" class="form-label">Total de places</label>

                <input type="text" class="form-control" name="total" id="total" [(ngModel)]="parkings.totalPlace" required/>

                <div class="valid-feedback">Looks good!</div>

            </div>

            <div class="col-md-12">

                <label for="nomproprietaire" class="form-label">Nom Proprietaire</label>

                <input type="text-area" class="form-control" name="nomproprietaire" id="nomproprietaire" [(ngModel)]="parkings.nomProprietaire" required />

                <div class="invalid-feedback">Please provide a valid city.</div>

            </div>

            <div class="col-md-12">

                <label for="nomparking" class="form-label">Nom Parking</label>

                <input type="text-area" class="form-control" name="nomparking" id="nomparking" [(ngModel)]="parkings.nomParking" required />

                <div class="invalid-feedback">Please provide a valid city.</div>

            </div>

          

            <div>
                <label>Commune</label>
                <select class="form-select" name="IdCommune" [(ngModel)]="parkings.IdCommune">
                    <option value="">--Select--</option>
                    <option *ngFor="let quartier of communes" [ngValue]="quartier.id">
                        {{ quartier.nom }}
                    </option>
                </select>
            </div>

            <div class="col-12">

                <button class="btn btn-primary" type="submit">Ajouter</button>

            </div>

        </form>

    </div>

</div>



