<div class="card" style="margin-top: 20%">

    <h1 class="card-title mt-4 ml-4" style="

      text-align: center;

      color: #3748e7;

      font-weight: bold;

      letter-spacing: 2px;

      font-family: Roboto;

    ">

        Liste des Projets

    </h1>

    <div class="card-body">

        <table class="table">

            <thead>

                <tr>

                    <th scope="col">Id</th>

                    <th scope="col">Titre</th>

                    <th scope="col">Description</th>


                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let projet of projs">

                    <th scope="row">{{ projet.id }}</th>

                    <td>{{ projet.titre}}</td>

                    <td>{{ projet.description }}</td>

                    <td colspan="3" style="display: flex">

                        &nbsp;

                        <button class="btn btn-danger" (click) = deleteProjet(projet.id) > <!--on doit mettre un click -->

                        <i class="fa-solid fa-trash"></i></button

                        >&nbsp;

                        <span class="btn btn-info text-dark" (click) = updateProjet(projet.id)

                        ><i class="fa-solid fa-pen-to-square"></i></span

                        >&nbsp;



                        <!-- <span class="btn btn-warning text-dark">

                        <a href="#" (click)="modifUtilisateurs(list.id)"></a

                        ><i class="fa-solid fa-eye"></i

                        ></span> -->



                        <button class="btn btn-warning">

                        <i class="fa-solid fa-eye"></i>

                        </button>

                    </td>

                </tr>

            </tbody>

        </table>

    </div>

</div>