<div class="card" style="margin-top: 20%; margin: 20%; width: 50%; height: 50%">

    <h5 class="card-header" style="text-align: center">Ajouter un Projet</h5>

    <div class="card-body">

        <form (ngSubmit)="onSubmit()" class="row g-3 needs-validation" novalidate>

            <div class="col-md-12">

                <label for="titre" class="form-label">Titre</label>

                <input type="text" class="form-control" name="titre" id="titre" [(ngModel)]="projet.titre" required/>

                <div class="valid-feedback">Looks good!</div>

            </div>

            <div class="col-md-12">

                <label for="description" class="form-label">Description</label>

                <input type="text-area" class="form-control" name="description" id="description" [(ngModel)]="projet.description" required />

                <div class="invalid-feedback">Please provide a valid city.</div>

            </div>

          

            <div class="col-12">

                <button class="btn btn-primary" type="submit">Ajouter</button>

            </div>

        </form>

    </div>

</div>



