<div class="card" style="margin-top: 20%; margin: 20%; width: 50%; height: 50%">

    <h5 class="card-header" style="text-align: center">Ajouter une information</h5>

    <div class="card-body">

        <form (ngSubmit)="onSubmit()" class="row g-3 needs-validation" novalidate>

            <div class="col-md-12">

                <label for="titre" class="form-label">Titre</label>

                <input type="text" class="form-control" name="titre" id="titre" [(ngModel)]="infos.titre" required/>

                <div class="valid-feedback">Looks good!</div>

            </div>

            <!-- test id type info -->
            <div class="col-md-12">

                <label for="titre" class="form-label">IdType Information</label>

                <input type="number" class="form-control" name="IdTypeInformation" id="IdTypeInformation" [(ngModel)]="infos.IdTypeInformation" required/>

                <div class="valid-feedback">Looks good!</div>

            </div>
<!-- test id User -->
            <div class="col-md-12">

                <label for="titre" class="form-label">IdUser</label>

                <input type="number" class="form-control" name="iduser" id="iduser" [(ngModel)]="infos.IdUser" required/>

                <div class="valid-feedback">Looks good!</div>

            </div>

<!-- test id commune -->
<!-- test id User -->
<div class="col-md-12">

    <label for="titre" class="form-label">IdCommune</label>

    <input type="number" class="form-control" name="idcommune" id="idcommune" [(ngModel)]="infos.IdCommune" required/>

    <div class="valid-feedback">Looks good!</div>

</div>



            <div class="col-md-12">

                <label for="description" class="form-label">Description</label>

                <input type="text-area" class="form-control" name="description" id="description" [(ngModel)]="infos.description" required />

                <div class="invalid-feedback">Please provide a valid city.</div>

            </div>

            <div class="col-md-12">

                <label for="image" class="form-label">Image</label>
                <br>
                <input type="file" id="img" name="img" accept="image/*" [(ngModel)]="infos.images" value="image">

                <div class="invalid-feedback">Please provide a valid image.</div>

            </div>

            <!-- type info -->

            <div>
                <label>Type information</label>
                <select class="form-select" [(ngModel)]="infos.IdTypeInformation">
                    <option value="0">--Select--</option>
                    <option *ngFor="let tinfo of typeinformation" [ngValue]="tinfo.id">
                        {{ tinfo.titre }}
                    </option>
                </select>
            </div>

            <div class="col-md-12">

            <div>
                <label>Commune</label>
                <select class="form-select" >
                    <option value="">--Select--</option>
                    <option *ngFor="let quartier of commune" value="{{ quartier.id }}">
                        {{ quartier.nom }}
                    </option>
                </select>
            </div>

               

                


                <div class="invalid-feedback">Please provide a valid type information.</div>

            </div>

            

            <input type="hidden" id="custId" name="custId" value="3487">     <!--recupere l'id de l'utilisateur connecté -->

            <div class="col-12">

                <button class="btn btn-primary" type="submit">Ajouter</button>

            </div>

        </form>

    </div>

</div>

